    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="김지훈 ♥ 오정의 결혼식에 초대합니다.">
    <meta property="og:url" content="https://jj-wedding-invitation.herokuapp.com/">
    <meta property="og:description" content="2017.04.22 PM 06:00">
    <meta property="og:image" content="/img/wedding/wedding006.jpg">
   
    <title>김지훈 ♥ 오정의 결혼식에 초대합니다.</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet" type="text/css">
