<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  김지훈 오정의 청첩장입니다.
  <img src="https://40.media.tumblr.com/214216ef7803d4067204d63a12d0218c/tumblr_npbe7ewlkq1tzt81wo1_1280.png">
</body>
</html>
