<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <a href="#about" class="btn btn-dark btn-lg">더 알아보기</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="mint"><strong>SAVE THE DATE</strong></h2>
                    <p class="lead">우리 서로 사랑하면<br>
                    언제라도 봄<br>
                    이해인 - 사랑의 서약 중<br><br>
                    서로를 만나 맞이하는 아홉번째 봄입니다.<br>
                    잠깐 스치는 봄이 아쉬워<br>
                    서로가 만나 봄날만 살아보려합니다.<br>
                    저희의 봄날에 따스한 햇살, 바람<br>
                    그리고 당신 함께 해주시겠어요?<br>
                    <br>
                    오정의 신랑 김지훈(가브리엘) <a href="tel:010-4469-0604"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></a><br>
                    김지훈의 신부 오정(안나)　　 <a href="tel:010-4469-0604"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span></a><br>
                    <br>
                    <span class="mint">2017년 4월 22일 토요일 오후 6시<br>
                    라비돌리조트&컨트리클럽</span>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <hr>
    
    <!-- Wedding Gallery -->
    <aside class="wedding_gallery bg-primary" >
        <div class="text-vertical-center">
            <h1>Wedding Gallery</h1>
        </div>
    </aside>
    
    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="/img/wedding/wedding001.png">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="/img/wedding/wedding002.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="/img/wedding/wedding003.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                 <img class="img-portfolio img-responsive" src="/img/wedding/wedding004.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                 <img class="img-portfolio img-responsive" src="/img/wedding/wedding005.jpg">
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <img class="img-portfolio img-responsive" src="/img/wedding/wedding006.jpg">
                            </div>
                        </div>      
                        <div id="story01" style="display: none">
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/img/wedding/wedding007.jpg">
                                </div>
                            </div> 
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/img/wedding/wedding008.png">
                                </div>
                            </div>                                                  
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/img/wedding/wedding009.jpg">
                                </div>
                            </div>                          
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/img/wedding/wedding010.jpg">
                                </div>
                            </div>                          
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/img/wedding/wedding011.jpg">
                                </div>
                            </div>                          
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/img/wedding/wedding012.jpg">
                                </div>
                            </div>                          
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/img/wedding/wedding013.jpg">
                                </div>
                            </div>                          
                            <div class="col-md-6">
                                <div class="portfolio-item">
                                    <img class="img-portfolio img-responsive" src="/img/wedding/wedding014.jpg">
                                </div>
                            </div>                          
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    
                    <span id="moreimg" class="btn btn-dark" style="CURSOR: hand" onclick="if(story01.style.display=='none') {story01.style.display='';moreimg.innerText='접기'} else {story01.style.display='none';moreimg.innerText='사진 더보기'}">사진 더보기</span>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <hr>

    <!-- Map -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="pink"><strong><span class="glyphicon glyphicon-map-marker"></span> Location</strong></h2>
                <br>
            </div>
        </div>
    </div>
    
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6356.833414326885!2d126.98113923078235!3d37.1903306916016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0fbaacd1bf8608c!2z652867mE64-M66as7KGw7Yq4!5e0!3m2!1sko!2skr!4v1488719100215"></iframe>
        <br />
        <small>
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6356.833414326885!2d126.98113923078235!3d37.1903306916016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0fbaacd1bf8608c!2z652867mE64-M66as7KGw7Yq4!5e0!3m2!1sko!2skr!4v1488719100215"></a>
        </small>
    </section>

    <section class="navi">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button type="button" class="btn btn-lg kakaonavi"onclick="navi();"><img src="/img/kakaonavi.png" style="width:40px"/>카카오내비</button>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead text-left">
                    <strong>※ 어느곳에서 진입하시던 과천-의왕-봉담-동탄간(정남IC)고속도로를 이용해주세요</strong><br>
                    <br>
                    <b>셔틀버스</b><br>
                    - 오산시청 앞에서 PM 5:00에 예식장(라비돌 리조트)으로 버스 운행합니다.<br>
                    <br>
                    <b>대중교통</b><br>
                    - 수원역 승차시<br>
                    6-3번 버스 (50분 소요) - AK플라자 앞 숭차, 수원과학대학 하차<br>
                    - 병점역 승차시<br>
                    35-1번, 35-3번, 50번 버스 (15분소요) - 병점역 2번 출구 승차, 수원과학대학 하차<br>
                    <br>
                    <b>콜택시</b><br>
                    1588-0331 (수원역 출발 약 10,000원 25분 소요)<br>
                    031-232-8800 (병점역 출발 약 7,000원 15분 소요)<br><br>
                    <b>자가용</b><br>
                    - 과천 동탄간 고속도록 이용시 : 봉담IC - 정남 IC - 라비돌/수원과학대학 방면<br>
                    - 경부고속도로 이용시 : 동탄JC - 정남 IC - 라비돌/수원과학대학 방면<br>
                    ※ 네비게이션 또는 택시 이용시 목적지를 수원과학대학교로 설정하시면 쉽게 찾아오실 수 있습니다.<br><br>
                    문의전화 : 031-352-7150 경기도 화성시 정남면 세자로 286<br>
                    홈페이지 : <a href="http://www.laviedor.com">www.laviedor.com</a>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Made by Minseokism</strong>
                    </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:lagender@gmail.com">lagender@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/minseokism"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/minseokism/Wedding-Invitation"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://minseokism.github.io/"><i class="fa fa-home fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Made by Minseokism 2017</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Kakao JavaScript SDK -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);

    //카카오 네비게이션
        Kakao.init('965487ada74b4d51b0e4694b737b66a6');
    // 카카오 로그인 버튼을 생성합니다.
    function navi(){
        Kakao.Navi.start({
            name: "라비돌리조트",
            x: 126.983359,
            y: 37.190656,
            coordType: 'wgs84'
        });
    }
    </script>

</body>

</html>
