<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <img src="https://40.media.tumblr.com/214216ef7803d4067204d63a12d0218c/tumblr_npbe7ewlkq1tzt81wo1_1280.png">
    김지훈 오정의 청첩장입니다.

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
