<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  김지훈 오정의 청첩장입니다.
</body>
</html>
